@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background: url(../images/background.jpg) rgba(1, 31, 21, 0.473);
  background-size: cover;
  background-blend-mode: overlay;
}

nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0rem 3rem 0 3rem;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
  border-radius: 0.3em;
  padding: 0.5em;
  color: rgba(16, 103, 184, 0.842);
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  background-color: rgb(66, 45, 114);
}

.home {
  color: white;
}

/*  */
/*  */
/* details  */

/* div.details {
  width: 100em;
  margin: 3em auto;
}

.btn-delete:hover {
  background-color: black;
  color: white;
  background-color: red;
}

.btn-edit:hover {
  color: white;
  background-color: blue;
}

.btn-like:hover {
  color: white;
  background-color: green;
}

#detailsBox {
  background-color: rgba(255, 255, 255);
  text-align: center;
  display: flex;
  max-width: 420em;
  background-color: rgba(37, 134, 179, 0.904);
  border-radius: 0.2rem;
  margin: 3em auto;
  padding: 1em;
}

#detailsBox > h1 {
  margin-bottom: 0.5em;
  font-size: 2em;
  display: flex;
}

.detailsInfo img {
  display: flex;
  width: 100%;
  margin-top: 10px;
  border-radius: 1rem;
  margin-right: 10px;
}

.btn-delete,
.btn-edit,
.btn-like {
  margin: 1em 0.5em;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5em;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.329);
  color: black;
}

.likes {
  margin-top: 30px;
} */

/*  */
/*  */
/* element */
.home-image > img {
  max-height: 20em;
  max-width: 20em;
  display: flex;
  width: 100%;
  border-radius: 1rem;
}

.btn-details {
  margin: 1em 0.5em;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5em;
  font-size: 20px;
  background-color: rgb(15, 131, 34);
}

.info {
  display: inline-block;
  margin: 1em 0.5em;
  padding: 0.5rem;
  border: none;
}
